.header{
    width: 100%;
    background-color: white;
    border-bottom:2px solid rgb(230, 230, 230);
    padding: 10px 0;
  }
  
  .container{
    display: flex;
    margin: 0 auto;
    padding: 0 2%;
    max-width: 1100px;
  }
  
  .headerLogo{
    width: 50%;
  }
  
  .headerLoginForm{
    width: 50%;
    text-align: right;
  }
  
  
  .headerLoginForm input[type=text], .headerLoginForm input[type=password]{
    width: 180px;
    margin-right: 10px;
    height: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .headerLoginForm input[type=submit]{
    background-color: #0095f6;
    color: white;
    border:0;
    cursor: pointer;
    width: 80px;
    height: 20px;
    padding: 0 10px;
    border-radius: 3px;
    font-size: 14px;
  }
  
  .btnCriarConta a{
    font-size: 14px;
  }
  
  .headerLogadoInfo{
    text-align: right;
    width: 50%;
  }
  
  .headerLogadoInfo a{
    margin: 0 10px;
    background-color: #0095f6;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    padding: 3px 10px;
    border-radius: 3px;
    font-size: 14px;
  }

  .modalCriarConta{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .formCriarConta{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    text-align: center;
  }

  .formCriarConta input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
  }

  .formCriarConta input[type=submit]{
    background-color: #0095f6;
    color: white;
    border: 0;
    cursor: pointer;
  }

  .closeModalCriar{
    position: absolute;
    right:-10px;
    top: -10px;
    cursor: pointer;
    text-align: center;
    color: white;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #0095f6;
  }

   /* ******* */
  .modalUpload{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .formUpload{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    text-align: center;
  }

  .formUpload input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
  }

  .formUpload input[type=submit]{
    background-color: #0095f6;
    color: white;
    border: 0;
    cursor: pointer;
  }

  .closeModalUpload{
    position: absolute;
    right:-10px;
    top: -10px;
    cursor: pointer;
    text-align: center;
    color: white;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #0095f6;
  }